$heading-font-family: 'Avenir-Heavy';
$body-font-family: 'Avenir-Book';
$link-font-family: 'Avenir-Heavy';
$navigation-font-family: 'Avenir-Book';
$light-font-family: 'Avenir-Book';
$normal-font-family: 'Avenir-Medium';

$font-size-desktop: 15px;
$font-size-mobile: 15px;
$line-height: 27px;

$color-brand: #975DAA;
$color-accent: #DE8A80;
$color-accent-2: #65BD45;
$color-accent-3: #F5F9FC;
$color-accent-3-darker: #BFD5E2;
$color-accent-4: #F3F6E6;

$color-bright: #ffffff;
$color-dark: #000000;
$color-dark-2: #605E5F;
$color-gray: #A7A7A7;
$color-off-white: #F8F8F8;
$color-light: #F8F8F8;
$color-light-gray: #F9F9F9;

$color-highlight: $color-accent;
$color-cta: $color-accent;
$color-danger: #8b0000;
$color-cream: #FFEDA4;

$color-body-bg: #ffffff;
$color-body-text: #3B3B3B;
$color-heading: $color-brand;
$color-link: $color-brand;
$color-navigation: $color-bright;

$color-special: $color-accent-2;

$border-radius: 3px;


$break-phone: 480px;
$break-small: 767px;
$break-medium: 991px;
$break-normal: 1200px;


// $icons: sprite-map("icons/*.png"); // contains icons/new.png among others.
